.form-check {
  margin-top: 10px;
  padding-left: 20px;
  position: relative;
}

.form-check input:not(:disabled) {
  cursor: pointer;
}

.form-check>input {
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  width: 100%;
  z-index: 1;
}

.form-check label {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: rgba(51,51,51,.6);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  margin-left: 11px;
}

.form-check label:before {
  background-color: #eff4fa;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 0 0 1px rgba(83,110,123,.3);
  box-shadow: inset 0 0 0 1px rgba(83,110,123,.3);
  content: "";
  height: 20px;
  left: 0;
  position: absolute;
  text-align: center;
  width: 20px;
}

.form-check>input:checked~label:before {
  background-color: #1393f6;
  background-position: 50%;
  background-repeat: no-repeat;
  color: #fff;
  content: url('data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%3Cpath%20fill%3D%22%23FFF%22%20fill-opacity%3D%22.01%22%20d%3D%22M11.908%2024c6.576%200%2011.907-5.373%2011.907-12S18.484%200%2011.908%200C5.33%200%200%205.373%200%2012s5.331%2012%2011.908%2012z%22%2F%3E%3Cpath%20fill%3D%22%23FFF%22%20d%3D%22M9.725%2016.308l-3.35-3.57a1.396%201.396%200%200%201%20.045-1.95%201.34%201.34%200%200%201%201.917.046l2.32%202.471%204.952-5.828a1.34%201.34%200%200%201%201.913-.141c.566.498.629%201.369.139%201.945l-5.93%206.976c-.25.294-.61.468-.992.477-.403%200-.758-.153-1.014-.426z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E');
}