
{
  "env": {
    "browser": true,
    "commonjs": true,
    "es6": true,
    "node": true,
    "mocha": true,
    "cypress/globals": true
  },
  "plugins": [
    "cypress"
  ],
  "parserOptions": {
    "sourceType": "module"
  },
  "extends": "getninjas"
}